<div *ngIf="confirmedScreen === false">
  <div class="m-24">
    <h2 class="heading">FLIGHT RESERVATION</h2>
    <p>Welcome to our flight reservation website. Complete the multi stepform below to book your flight.</p>
  </div>
  <mat-stepper linear="true" labelPosition="bottom" #stepper>
    <mat-step [stepControl]="personalInformation">

      <mat-card>

        <mat-card-content class="personalInformation">
          <form [formGroup]="personalInformation">
            <ng-template matStepLabel>Personal information</ng-template>
            <div class="flex-gap">
              <mat-form-field [hideRequiredMarker]="true">
                <mat-label>First Name</mat-label>
                <input matInput placeholder=" Enter your first name" formControlName="firstname" required>
                <mat-error *ngIf="firstname.errors?.['required']">
                  Firstname is required
                </mat-error>
              </mat-form-field>
              <mat-form-field [hideRequiredMarker]="true">
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="Enter your last name" formControlName="lastname" required>
                <mat-error *ngIf="lastname.errors?.['required']">
                  Lastname is required
                </mat-error>
              </mat-form-field>
            </div>
            <div class="flex-gap">
              <mat-form-field [hideRequiredMarker]="true">
                <mat-label>Email Address</mat-label>
                <input matInput placeholder="Enter your email address" formControlName="email" required>
                <mat-error *ngIf="email.value && email.invalid && (email.dirty || email.touched)">
                  Enter a valid email address
                </mat-error>
                <mat-error *ngIf="email.errors?.['required']">
                  Email is required
                </mat-error>

              </mat-form-field>
              <mat-form-field [hideRequiredMarker]="true">
                <mat-label>Phone Number</mat-label>
                <input matInput placeholder="Enter your phone number" formControlName="phone" required>
                <mat-error *ngIf="phone.errors?.['required']">
                  Phone number is required
                </mat-error>
                <mat-error *ngIf="phone.value && phone.invalid && (phone.dirty || phone.touched)">
                  Phone number should be atleast 10 digits
                </mat-error>
              </mat-form-field>

            </div>
          </form>

        </mat-card-content>
      </mat-card>



      <div class="flex-justify">
        <button mat-button disabled>Back</button>
        <button mat-button matStepperNext color="primary">Next</button>
      </div>
    </mat-step>


    <mat-step [stepControl]="flightDetails">
      <mat-card>
        <mat-card-content>
          <form [formGroup]="flightDetails">
            <ng-template matStepLabel>Flight Details</ng-template>
            <div class="flex-gap">
              <mat-form-field [hideRequiredMarker]="true">
                <mat-label>Select your departure city</mat-label>
                <mat-select formControlName="departure">
                  <mat-option *ngFor="let city of cities" [value]="city">
                    {{city}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="!departure.value">
                  Departure city is required
                </mat-error>
              </mat-form-field>
              <mat-form-field [hideRequiredMarker]="true">
                <mat-label>Select your destination city</mat-label>
                <mat-select formControlName="destination">
                  <mat-option *ngFor="let city of cities" [value]="city">
                    {{city}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="!destination.value">
                  Destination city is required
                </mat-error>
              </mat-form-field>
              <mat-form-field [hideRequiredMarker]="true">
                <mat-label>Departure Date</mat-label>
                <input matInput [matDatepicker]="picker" placeholder="dd/mm/yyyy" formControlName="departuredate"
                  [min]="minDate">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="departuredate.errors?.['required']">
                  Departure date is required
                </mat-error>
              </mat-form-field>
              <mat-form-field [hideRequiredMarker]="true">
                <mat-label>Return Date</mat-label>
                <input matInput [matDatepicker]="picker1" placeholder="dd/mm/yyyy" formControlName="returndate"
                  [min]="minDate">
                <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
                <mat-error *ngIf="returndate.errors?.['required']">
                  Return date is required
                </mat-error>
              </mat-form-field>
            </div>

            <div class="flex-gap">
              <mat-form-field [hideRequiredMarker]="true">
                <mat-label>Select your flight class</mat-label>
                <mat-select formControlName="flightclass">
                  <mat-option *ngFor="let class of classes" [value]="class">
                    {{class}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="!flightclass.value">
                  Flight class is required
                </mat-error>
              </mat-form-field>
              <mat-form-field [hideRequiredMarker]="true">
                <mat-label>Number of Passengers</mat-label>
                <input type="number" matInput placeholder=" Enter number of passengers" formControlName="passengers"
                  required>
                <mat-error *ngIf="passengers.errors?.['required']">
                  Passengers number is required
                </mat-error>
              </mat-form-field>

            </div>
          </form>
        </mat-card-content>
      </mat-card>


      <div class="flex-justify">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext color="primary">Next</button>
      </div>

    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Confirmation</ng-template>
      <mat-card>
        <mat-card-content>
          <app-preview [flightInfo]="flightDetails.value" [personalInfo]="personalInformation.value"></app-preview>
          <div class="flex-right">
            <button mat-raised-button (click)="openDialog()">CONFIRM</button>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-step>
  </mat-stepper>
</div>
<app-confirmation *ngIf="confirmedScreen === true" (click)="closeConfirmedScreen()"></app-confirmation>