.heading {
    color: #377ed4;
    letter-spacing: 2px;
    margin-top: 20px;
}

.flex-1 {
    display: flex;
    gap: 2;
}

.flex-justify {
    display: flex;
    justify-content: space-between;
}

.flex-right {
    display: flex;
    justify-content: flex-end;
}

.flex-gap {
    display: flex;
    gap: 20px;
}

.m-24 {
    margin-left: 24px;
}

.personalInformation mat-form-field {
    width: 30%;
}

.mb-24 {
    margin-bottom: 24px;
}
